version: '3.8'
services:
  nginx:
    image: nginx:latest
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "80:80"
  auth-service:
    build: ./services/auth-service
    env_file: .env
    depends_on:
      - mysql
      - redis
  email-service:
    build: ./services/email-service
    env_file: .env
    depends_on:
      - rabbitmq

  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: password
    volumes:
      - mysql-data:/var/lib/mysql

  redis:
    image: redis:alpine

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "15672:15672"

volumes:
  mysql-data: