services:
  frontend-dev:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: sh -c "npm install && npm run dev -- --host"
    ports:
      - "5173:5173"
    environment:
      VITE_API_URL: "http://localhost:${AUTH_SERVICE_PORT}"
      CORS_ALLOWED_ORIGINS: "http://localhost:5173"
      VITE_ALLOWED_HOSTS: "gmail-clone.com,localhost,127.0.0.1"
      VITE_HOST: "0.0.0.0"
      VITE_PORT: "5173"
    depends_on:
      - auth-service
