version:  "3.0"

services:
  backend1:
    build: ./backend1
    container_name: backend1
  
  backend2:
    build: ./backend2
    container_name: backend2
  
  nginx-gateway:
    image: nginx:alpine
    container_name: nginx-gateway
    ports:
      - "8080:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend1
      - backend2
