spring:
  datasource:
    url:      jdbc:mysql://${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_DATABASE}
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  application:
    name: auth-service
jwt:
  secret: ${JWT_SECRET}
  expiration-ms: 3600000
eureka:
  client:
    service-url:
      defaultZone: http://eureka:8082/eureka/